env_service:
  env_type: "appworld"
  env_url: "http://127.0.0.1:8080"
  env_feedin_preference: code # code, text, box

algorithm:
  adv_estimator: grpo
  use_kl_in_reward: false

data:
  train_batch_size: 32         
  max_prompt_length: 4000      
  max_response_length: 21580   
  filter_overlong_prompts: true
  truncation: "error"
  return_raw_chat: true
  train_files: null
  val_files: null
  val_batch_size: 256          
  val_type: "val"              

actor_rollout_ref:
  hybrid_engine: true          
  model:
    path: Qwen/Qwen2.5-14B-Instruct      
    use_remove_padding: true
    enable_gradient_checkpointing: true
  rollout:
    use_qwen3: false                      
    enable_request_id: false
    prompt_length: 20480
    response_length: 4096
    max_model_len: 25580                  
    temperature: 0.9
    log_prob_micro_batch_size_per_gpu: 1
    tensor_model_parallel_size: 1
    name: vllm
    mode: async
    gpu_memory_utilization: 0.6
    n: 8
    log_prob_max_token_len_per_gpu: 25580
    val_kwargs:
      n: 8
    
    debug_llm_io: false
    multi_turn:
      completion_callback: agentevolver.module.trainer.simple_completion_callback.SimpleCompletionCallback
      enable: true
      format: llama3_json
      max_steps: 30
      tool_config_path: ""
    custom_dataflow_cls:
      path: ""
      name: ""
    max_env_worker: 32
    context_template: "linear"
    context_template_train_sp_action: false
    max_env_len: 4096
    sparse: true
  actor:
    off_cliprange_high: 0.6               
    optim:
      lr: 1e-6
    ppo_micro_batch_size_per_gpu: 1
    ppo_mini_batch_size: 8                
    use_kl_loss: true
    kl_loss_coef: 0.001
    kl_loss_type: low_var_kl
    entropy_coeff: 0
    ppo_max_token_len_per_gpu: 25580
    fsdp_config:
      param_offload: false
      optimizer_offload: false
    
    loss_agg_mode: token-mean
    clip_ratio_high: 0.28
  ref:
    log_prob_micro_batch_size_per_gpu: 1
    fsdp_config:
      param_offload: true
    log_prob_max_token_len_per_gpu: 25580

critic:
  ppo_max_token_len_per_gpu: 25580
  forward_max_token_len_per_gpu: 25580

thread_pool:
  max_workers: 8              

task_manager:
  
  train_data_path: tasks_explored.train.json
  val_data_path: tasks_explored.val.json
  llm_client: qwen-plus
  n: 0                        # 与命令行一致
  env_profile: cookbook/env_profiles/appworld.json
  bs: ${data.train_batch_size}                # 与 data.train_batch_size 绑定（=32）
  num_explore_threads: ${thread_pool.max_workers}
  mixture:
    use_original_tasks: true
    synthetic_data_ratio: 0.0
    shuffle: true                              
  grader:
    original_grader: env
    synthetic_grader: llm
  strategy: random
  strategy_args:
    max_explore_step: 30
    max_llm_retries: 6
    env_url: ${env_service.env_url}
    exploration_llm_temperature: 1.0
    exploration_llm_top_p: 1.0
    exploration_llm_top_k: 100
  # 下面是可切换的另一套探索策略（注释保留）
  # strategy: deduplication
  # strategy_args:
  #   max_explore_step: 20
  #   max_llm_retries: 3
  #   env_url: ${env_service.env_url}
  #   exploration_llm_temperature: 1.0
  #   exploration_llm_top_p: 1.0
  #   exploration_llm_top_k: 1
  #   task_summary_history_length: 10
  #   temp_db_path: ./.temp_vec_db
  #   state_similarity_threshold: 0.95

exp_manager:
  val_rollout_mode: "woexp"
  train_rollout_mode: "woexp"
  rollout_ratio: 0.0
  train_sample_mode: "alldiscard"
  train_sample_keepratio: 1.0
  experience_template: "\n\nSome Related Experience to help you to complete the task:<EXP>{}</EXP>\n\n"
  init_exp_before_training: false
  init_exp_only: false
  summary_batch_size: 8
  reme:
    base_url: "http://127.0.0.1:8001"
    workspace_id: "default"
    enable_summarizer: false
    enable_context_generator: false
    retrieve_top_k: 3
    updated_freq: 0

trainer:
  n_gpus_per_node: 8
  nnodes: 1
  critic_warmup: 0
  logger: ["console"]
  project_name: "appworld_qwen25-7b"
  experiment_name: "appworld_qwen25-7b_baseline"
  save_freq: 10000
  test_freq: 10
  total_epochs: 40
  val_before_train: true
  validation_data_dir: "experiments/tech_synthetic/${trainer.experiment_name}/validation_log"
  rollout_data_dir: "experiments/tech_synthetic/${trainer.experiment_name}/rollout_log"
  val_only: false             

attribution_driven_credit_assignment:
  enable: false               
  evaluation_type: "api"
  consistent_scale: 1.0
  pos_unconsistent_scale: 0.2
  neg_unconsistent_scale: -0.2
  concurrent: 5
  model: "qwen-plus"
  api_max_retries: 200
  llm_evaluation_log_dir: null
  adca_grpo:
    prm_scheme: "decouple"
    do_batch_norm: true
    equal_trajectory_weight: true
    fix_base: 0.2
    alpha_cosine_decay_enable: false
    alpha: 0.1
    alpha_min: 0.0
    total_steps: 100
    orm_distribution: last_step
    enable_length_normalization: false
    prm_steps: 100
    skip_type: "none"         # "none" | "skip_small_adv" | "skip_all_neg"
    enable_adca_metric: false
